<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Happytails: Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>


<div class="s01">
      <form th:action="@{/daycare/centerlist}" th:object="${searchCity}" method="GET">
						  
        <fieldset>
          <legend>Find your best friend right near you! </legend>
        </fieldset>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <input id="search" th:field="*{city}" type="text" placeholder="Enter your city or zipcode here .." />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="submit">Search</button>
          </div>
       
						 
			<br> <br> <br>
			
			<div th:if="${table_exist}" >
				
					<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Name</th>
							<th>Street Number</th>
							<th>City</th>
							<th>Zipcode</th>
							<th>State</th>
							<th>Country</th>
							<th>Phone</th>
							
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="temp : ${DogListModel}">
						
							<td th:text="${temp.name}" />	
							<td th:text="${temp.streetNumber}" />	
							<td th:text="${temp.city}" />
							<td th:text="${temp.zipcode}" />
							<td th:text="${temp.state}" />
							<td th:text="${temp.country}" />
							<td th:text="${temp.phone}" />
							
							
						</tr>
					</tbody>		
				</table>
			</div>	
			<div th:if="${table_not_exist}" >
				<p> No information for daycare centers !!</p>
			</div>
			
		</form>
          
      </div>
      
      
</div>
  


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
